[Desktop Entry]
Version=1.0
Type=Application
Name=Calculator
Comment=Perform calculations
Exec=galculator
Icon=accessories-calculator
Terminal=false
Categories=Utility;Calculator;
