[Desktop Entry]
Version=1.0
Type=Application
Name=Settings
Comment=Configure appearance and themes
Exec=lxappearance
Icon=preferences-desktop-theme
Terminal=false
Categories=Settings;DesktopSettings;
